.sdcontanier{
    width: 80vw;
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.sdpic img{
    width: 20vw;
    border-radius: 0.3rem;
    filter: saturate(0.8);
}

.sdinfo{
    margin-left: 5vw;
    color: white;
    font-weight: 500;
}

.sdname{
    margin-bottom: 3vh;
    font-size: 2rem;
    font-weight: 600;
}


@media screen and (max-width: 767px) {
    
    .sdcontanier{
        flex-direction: column;
    }
    .sdpic img{
        width: 100%;    
    }
    .sdinfo{
        margin-top: 1vh;
    }

    .sdname{
        font-size: 1.2rem;
        margin-bottom: 1vh;
    }
    
}