.moviecontainer{
    position: relative;
    top: 5vh;
    width: 90%;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.listheader{
    font-family: inherit;
    color: white;
    align-self: flex-start;
    margin-top: 20vh;
    margin-left: 5vw;
    font-size: 2rem;
    font-weight: 600;

}

@media only screen and (max-width: 767px) {
    .moviecontainer{
        top:3vh;
        justify-content: center;
    }

    .listheader{
        margin-top: 10vh;
        font-size: 1.2rem;
     
    }
}