.paymentcontainer{
    width: 90vw;
    display:flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 20vh;
    align-items: flex-start;
}



@media screen and (max-width: 767px) {

    .paymentcontainer{
       
        flex-direction: column-reverse;

        margin-top: 10vh;
        margin-bottom: 20vh;
        align-items: center;
    }
    
}
