.aumodal{
    font-family:inherit;
    color: white;
}

.content{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding-bottom: 5vh;

}

.logo{
    align-self: flex-start;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 2rem;
    padding-left: 2vw;
    padding-top: 2vh;
}

.form{
    display: flex;
    flex-direction: column;
   
    width: 70%;
   
}

.title{
    font-size: 1.5rem;
    font-weight: 300;
}

.control{
    display: flex;
    margin-bottom: 2vh;
    width: 100%;
    justify-content: space-around;
}

.control p{
   font-size: 0.8rem;
   margin-left: 1rem;
}

.control label{
    font-weight: 300;
    width: 25%;
}

.control input{
   width: 30%;
   font-size: 1rem;
   height: 1.5rem;

}

.errmsg {
 color: yellow;
}

.actions{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button{
    width: 35%;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2vh;
    cursor: pointer;
}

.actions button:hover{
    background-color: rgba(255, 255, 255);
}


@media only screen and (max-width: 767px) {
    .aumodal{
        top:10vh;
    }
    .form{
        width: 90%;
       
    }

    .control{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .control label{
        width: 100%;
        margin-bottom: 1vh;
    }
    .control input{
        width: 100%;
     }

     .actions button{
        width: 40vw;
        padding: 0.3rem 0.5rem;
    }
    

}